	/**{
		margin: 0;
		padding: 0;
	}*/
	body{
		background-color: #f8f8f8;
	}
	hr{
		color: #000dd;
		height: 5px;
	}
	.menu li{
		font-family: "Times New Roman", serif, Veranda;
		font-variant: small-caps;
		font-weight: bold;
		font-size: 20px;
		text-align: left;
		list-style-type: none;
	}
	.menu li a{
		color: #3A3D3A;
	}
	.header{
		color: black;
		font-size: 18px;
		font-weight: 400;
		background-color: #eaeaea;
	}
	.short{
		color: #707070;
		font-size: 14px;
		font-style: italic;
		line-height: 16px;
		}
	.long{
		color: #484343;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		}
	.list{
		color: #3A3D3A;
		font-size: 15px;
		line-height: 20px;
		text-decoration: underline;
		/*list-style-image: url(button.png);*/
	}
	.pic-mark {
		list-style-image: url(clap.png);
	}
		textarea{
		width: 550px;
		text-align: left;
		font-family: "Times New Roman", serif, Veranda;
		color: grey;
		line-height: 15px;
		font-size: 25px;
		font-weight: 400;
	}
	input[type="text"], input[type="password"]{
		width: 275px;
		text-align: center;
		color: blue;
		line-height: 15px;
		font-size: 20px;
		font-family: "Times New Roman", serif, Veranda;
		font-weight: 400;
	}
	/*5. При вводе текста в текстовые поля каждое слово 
	должно начинаться с большой буквы, даже если пользователь будет вводить с маленькой буквы.
	D ID e-mail принудительно убрал text-transform*/
	input[type="text"]{
		text-transform: capitalize;
	}
	.pic-wideprod{
		box-sizing: border-box;
		border-color: grey;
		border-style: solid;
		/*border-width: 3px;*/
		width: 200px;
		height: 100px;
	}
	.pic-logo{
		width: 150px;
	}
	/*input[type="password"]{
		width: 275px;
	}*/	
		/* 1. При наведении на меню сайта цвет ссылок должен меняться на произвольный.*/
	li a:hover{
		background-color: #E3DFAF;
		border-style: ridge;
		border-color: #FAE902;
		border-width: 2px;
		
	}
	/*7. *При наведении на изображения в разделе просмотра товара,
	подробного описания, необходимо сделать так, чтобы рамка исчезала, 
	но сама картинка при этом не должна смещаться, т.е должна оставаться неподвижной. */
	.pic-wideprod:hover{
		border-color: rgba(0,0,0,0); 
	}
	.pic-cat{
		border: 1px solid black;
	}
	.new:after{
		content: "new";
		color: red;
		font-variant: none;
		font-weight: none;
		font-weight: none;
	}
	td{
		border: 1px solid #000;
	}
	td:first-child{
		color: purple;
		line-height: 20px;		
	}
	table {
		border: 1px solid #000;
		text-align: center;
		border-collapse: collapse;
	}
	.price{
		font-size: 30px;
		font-family: "Times New Roman", serif, Veranda;
		font-weight: 600;
		color: #423E3F;
	}
	/* 2. На всех страницах создать блок с классом “header”, содержащий:
	a. логотип вашего интернет магазина;
	b. Меню сайта.
	Убрали брдер и задали жестко размеры ячеек*/
	.test-menu{
		border: none;	
	}
	.test-menu td{
		width: 210px;
		height: 50px;
		border: none;
	}

	/*3. Создать блок с классом “footer” и разместить в него содержимое футера.
	Прибил его к низу с помощью position absolute, но есть проблема на странице Контакты - залезает на 
	карты яндекс, пробовал умньшить heght карт, но не помогает, как можно это исправить? */
	#footer{
		height: 30px;
		position: absolute;
		bottom: 0;
		width: 100%;
		border: 1px solid black;
	}
	/*4. При вводе текста в поле “Email” на странице контактной информации поменять цвет 
	текста и цвет поля.
	Дал e-mail отдельный IDБ чтобы редактировать только его*/
	#e-mail{
		color: black;
		background-color: grey;
		text-transform: none;
	}
	.firs-let:first-letter{
		color: green;
		line-height: 30px;
	}
	/*Выпадающее меню, почему оно появляется при наведении на шапку, 
	а не на ссылку Каталог?*/
		.test-menu:hover .vipad-menu{
		display: block;
	}
	.vipad-menu{
		display: none;
	}